<!-- About Page -->
<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hi, I'm Stefanie Knapp</h1>
    <p>I'm following Mackenzie Child's 12 Web Apps in 12 Weeks Challenge.</p>
    <p>This is Week 2, in which we build a blog in Ruby on Rails 4. This is the demo application. If this were live, this would say somthing else. Obviously.</p>
    <p>Here's some filler text, by way of Cat Ipsum. This is the Internet, after all...<br>
    "Cat ipsum dolor sit amet, burrow under covers. Vommit food and eat it again roll on the floor purring your whiskers off. Flop over attack dog, run away and pretend to be victim or eat a plant, kill a hand so chew on cable hide at bottom of staircase to trip human kitty loves pigs so unwrap toilet paper. Destroy couch lick arm hair if it fits, i sits jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed. Hack up furballs asdflkjaertvlkjasntvkjn (sits on keyboard) climb a tree, wait for a fireman jump to fireman then scratch his face unwrap toilet paper for kick up litter leave dead animals as gifts. Peer out window, chatter at birds, lure them to mouth sleep on dog bed, force dog to sleep on floor but bathe private parts with tongue then lick owner's face or where is my slave? I'm getting hungry stare out the window. Attack the dog then pretend like nothing happened. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap climb leg. Cat is love, cat is life meow all night having their mate disturbing sleeping humans human is washing you why halp oh the horror flee scratch hiss bite. Behind the couch. Poop in the plant pot burrow under covers plan steps for world domination, so curl into a furry donut."</p>
  </div>
</div>